<ion-content #pageContent scrollEvents="true" fixedHeaderBar="true">
  <header-bar [content]="content" [actions]="headerBarActions" (actionClick)="saveAction($event)" header="List" [showMenuBtn]="false" [hideBackBtn]="false" backHref="/home" slot="fixed" fixed="true"></header-bar>
  <header-bar-context header="List" subHeader="Page with some nice Actions">
  <br/>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
  </header-bar-context>
</ion-content>
